<settings xmlns="http://maven.apache.org/settings/1.0.0"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0
	http://maven.apache.org/xsd/settings-1.0.0.xsd">
	<mirrors>
		<mirror>	
			<id>nexus</id>
			<mirrorOf>*</mirrorOf>
			<url>http://192.168.1.201:8081/repository/maven-group/</url>
		</mirror>
	</mirrors>	
	<profiles>
        <profile>
            <id>nexus</id>
            <repositories>
                <repository>
                    <id>deploymentSnapshot</id>
                    <url>http://192.168.1.201:8081/repository/maven-group/</url>
                    <releases>
                        <enabled>true</enabled>
                        <updatePolicy>always</updatePolicy>
                    </releases>
                    <snapshots>
                        <enabled>true</enabled>
                        <updatePolicy>always</updatePolicy>
                    </snapshots>
                </repository>
            </repositories>
            <pluginRepositories>
                <pluginRepository>
                    <id>deploymentLibrary</id>
                    <url>http://192.168.1.201:8081/repository/maven-group/</url>
                    <releases>
                        <enabled>true</enabled>
                        <updatePolicy>always</updatePolicy>
                    </releases>
                    <snapshots>
                        <enabled>true</enabled>
                        <updatePolicy>always</updatePolicy>
                    </snapshots>
                </pluginRepository>
            </pluginRepositories>
        </profile>
        <profile>
            <id>central</id>
            <repositories>
                <repository>
                    <id>deploymentSnapshot</id>
                    <url>https://repo1.maven.org/maven2/</url>
                    <releases>
                        <enabled>true</enabled>
                        <updatePolicy>always</updatePolicy>
                    </releases>
                    <snapshots>
                        <enabled>true</enabled>
                        <updatePolicy>always</updatePolicy>
                    </snapshots>
                </repository>
            </repositories>
            <pluginRepositories>
                <pluginRepository>
                    <id>deploymentLibrary</id>
                    <url>https://repo1.maven.org/maven2/</url>
                    <releases>
                        <enabled>true</enabled>
                        <updatePolicy>always</updatePolicy>
                    </releases>
                    <snapshots>
                        <enabled>true</enabled>
                        <updatePolicy>always</updatePolicy>
                    </snapshots>
                </pluginRepository>
            </pluginRepositories>
        </profile>
    </profiles>
    <activeProfiles>
        <activeProfile>central</activeProfile>
    </activeProfiles>
	<servers>
		<server>
			<id>nexus</id>
			<username>admin</username>
			<password>kidane</password>
		</server>
	</servers>
</settings>
